{% extends "base.html" %}

{% block title %}ToxMail{% end %}

{% block body %}

<div>
  <h2>Tox configuration</h2>

  Client Id : {{client_id}}
</div>

<div>
  <h2>Friends</h2>

  <ul>
  {% for friend in friends %}
    <li>{{ escape(friend['client_id']) }}</li>
  {% end %}
  </ul>

  <h3>Add a friend</h3>
  <p>Make sure your friend adds you back, or you won't be able to correspond.</p>

  <form action="add_friend" method="GET">
     Client Id: <input type="text" name="client_id" size="64"></input>
     <input type="submit"/>
  </form>
</div>

{% end %}
