{% extends "base.html" %}

{% block title %}ToxMail Relay Node{% end %}

{% block body %}

{% if alert %}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Warning!</strong> {{alert}}
</div>
{% end %}

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Configuration</h3>
    </div>
    <div class="panel-body">
    <ul>
      <li>Tox Client Id : {{client_id}}</li>
      <li>Contacts DB: {{args.contacts_db}}</li>
      <li>Relay storage: {{args.relaydir}}</li>
      <li>Config file: {{args.config}}</li>
    </ul>
    </div>
  </div>


   <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Registered Users</h3>
    </div>
    <div class="panel-body">

  <table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Status</th>
            <th>Email</th>
            <th>Client Id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
  {% for friend in friends %}
  <tr>
  <td>
    {{friend['status']}}
  </td>

  <td>
    {{friend['ux_email']}}
  </td>
  <td>
      <a href="mailto:{{friend['email']}}">{{ escape(friend['client_id']) }}</a>
  </td>
  <td>
    <form name="delete" action="friend" method="POST">
      <input type="hidden" name="client_id" value="{{friend['client_id']}}"></input>
      <input type="submit" name="delete" value="delete"/>
    </form>
  </td>

  </tr>
  {% end %}
  </tbody>
  </table>


  <form class="navbar-form navbar-left" role="search" name="add" action="friend" method="POST">
    <div class="form-group">
       <input type="text" class="form-control" name="client_id" size="76" placeholder="Paste a Friend Tox Id or e-mail here to add it to the list."></input>

    </div>
    <input name="add" type="submit" class="btn btn-default"/>

  </form>

  </div>
  </div>



{% end %}
